

*{
   padding: 0;
   margin: 10;
}

.one{
   border: solid black 2px;
   /* display: inline block; */
   padding: 5px;
}

.purple-rectangle{
   width: 5vw;
   height: 10vh;
   background-color: rebeccapurple;
   display: inline-block;
}

.green-rectangle{
   width: 40vw;
   height: 13vh;
   background-color: green;
   margin: 0px 20px;
   display: inline-block;

}

.blue-circle{
   width: 13vw;
   height: 13vh;
   background-color:skyblue;
   /* border: solid 2px black; */
   border-radius: 50%;
   display: inline-block;

}

.two{
   border: dotted black 4px;
   padding: 20px;
   margin: 20px 0px;
}

.yellow-rectangle{
   width: auto;
   height: 10vh;
   background-color: burlywood;
   box-shadow: 10px 10px 9px -3px rgba(0,0,0,0.75);
   
}

.three{
   box-sizing: border-box;
   width: 50vw;
   height: 20vh;
   border: solid gray 1px;
   color: navy;
   font-size: xx-large;
   text-align: center;
   letter-spacing: 10px;
   padding: 100px;
   box-shadow: 10px 10px 9px -3px rgba(0,0,0,0.75);
   
}