*{
   padding: 0;
   margin: 0;

}

header{
width: auto;
   height: 20vh;
   background-color: grey;
}
.left{
   width: 12.5%;
   height: 80vh;
   background-color: salmon;
   float: left;
}
.right{
width: 12.5%;
   height: 80vh;
   background-color: purple;
   float: right;
}
footer{
   color: white;
   width: 75%;
   height: 10vh;
   background-color: black;
   margin: 70vh auto;
   /* bottom: 50px; */
}